<footer class="page-footer font-small blue" style="background-color: white;">

	<div class="pinkline"></div>
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2019 Copyright
	</div>
	<!-- Copyright -->

</footer>