<div class="nav-menu">
	<div class="bg transition">
		<div class="container-fluid fixed is-sticky">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-expand-lg navbar-dark">
						<a class="navbar-brand" href="/">NYP Smart Food</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<button class="btn btn-outline-secondary" type="button">
										<a class="nav-link" href="#">Home</a>
									</button>
								</li>
								<li class="nav-item">
									<button class="btn btn-outline-secondary" type="button">
										<a class="nav-link" href="#">Link</a>
									</button>
								</li>
								<li class="nav-item">
									<button class="btn btn-outline-secondary" type="button">
										<a class="nav-link" href="#">Logout</a>
									</button>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>