
*{
    margin: 0;
    padding: 0;
}



.wrapper{
    width: 705px;
    margin: 20px auto;
    padding: 20px;
}

h1{
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    /* float: left; */
}

.clear{
    clear: both;
}

.items{
    display: block;
    margin: 20px 0;
}

/* controls the  rows of boxes at once */
.item{
    background-color: #fff;
    float: left;
    margin: 0 10px 10px 0;
    width: 290px; 
    padding: 20px;
    height: 450px;
}

/* controls the images all at once in the boxes */
.item img{
    display: block; 
    margin: auto;
}

h2{
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}


/* button{
    border: 1px solid #722A1B;
    padding: 4px 14px;
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
} */


.quantity-operator{
    background-color: #fff;
    color: #722A1B;
    text-transform: uppercase;
    float: left;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;   
}

.cart{
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    /* margin-left: 105%; */
    float: right;
    cursor: pointer;
}

#selectedItemCounter{
    /* margin-left: 108%; */
    float: right;
}

#cartTotal{
    float: right;
}

.choosePlace{
    margin-left: 230px;
    margin-top: 5px;
}

.quantity-operator{
    float: left;
}

.tocart{
    float: right;
}



#shoppingCart{
    top: 0;
    left: 0;
    height: 165%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
}

#cartContainer{
    position: relative;
    width: 600px;
    left: 50%;
    top: 150px;
    margin-left: -300px;
    padding: 40px;
    box-shadow: 0 0 10px black;
    background: #e9e9e9;
    overflow: auto;
}

.return{
    float: left;
}

.remove{
    float: right;
}

.allfooditems{
    float: center;
}