{{>_header}}
{{>_navbar}}
<section class="main-box float-center">
    <div class="row" style="margin-top:  50px">
        <div class="col-md-6 col-md-offset-3 form-container float-right">
            <h2>Add Stall Owners</h2>
            <form method="POST"></form>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name">
                            Stall Owner Name:</label>
                        <input type="text" class="form-control" id="name" name="name" value={{{name}}} >
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="description">
                            Description:</label>
                            <br>
                        <textarea class="form-control" type="textarea" name="description" id="description" placeholder="Stall Owner Description" maxlength="6000" rows="7" value={{{desc}}} ></textarea>
                    </div>
                </div>
                <br>
                    <div class="col-sm-12 form-group">
                        <button type="submit" formmethod="POST"  class="btn btn-lg btn-warning btn-block" >Add Stall Owners </button>
                    </div>
            </form>
        </div>
    </div>
</section>
{{>_footer}}
