{{>_header}}
{{>_navbar}}
    <section class="main-box">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 form-container"> 
                <b>Add Stall Owners</b>
                    <p id="p">Add new stall owners onto website</p>
                    <a href="/addStallOwners" id='a'>Add</a>
            </div>
            <div class="col-md-6 col-md-offset-3 form-container"> 
                <b>Stall Owners List</b>
                    <p id="p">View List of Stall Owners</p>
                    <a href="/outlet/outlet/addSO" id='a'>View</a>
            </div>
        </div>
    </section>
{{>_footer}}

<style>
    section{
        margin: 160px;
        border-style: solid;
        padding: 80px;
    }

    b{
        font-size: 70px;
    }
    #p{
        font-size: 25px;
    }
    #a{
        font-size: 25px;
    }
</style>