<link rel="stylesheet" type="text/css" href="/css/malique/favicon.css">
<p>test test</p>
<div class="iconbox">
    <div class="favBtn">
        <span href="" class="favme dashicons dashicons-star-filled"></span>
    </div>
</div>