<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>NYP Food Portal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/nigel/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="css/nigel/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="css/nigel/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="css/nigel/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/nigel/style.css">
</head>

<body>
    <!--============================= HEADER =============================-->
    <div class="nav-menu">
        <div class="bg transition">
            <div class="container-fluid fixed">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="index.html">NYP Smart Food</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="icon-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <!--                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                    <span class="icon-arrow-down"></span>
                </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Listing
                    <span class="icon-arrow-down"></span>
                </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                    <span class="icon-arrow-down"></span>
                </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/register">Register</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/loginuser">Login</a>
                                    </li>
                                    <!-- <li><a href="#" class="btn btn-outline-light top-btn"><span class="ti-plus"></span> Login</a></li> -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SLIDER -->
    <section class="slider d-flex align-items-center" data-slides='[
                                                                    "img/nigel/test 1.jpg",
                                                                    "img/nigel/test 2.jpg",
                                                                    "img/nigel/test 3.jpg"
]'>

        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>Order great food in NYP</h1>
                                    <h5>All from the touch of a button</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Codes for search bar if needed -->
                        <!-- <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Canteen Name" class="btn-group1">
                                        <input type="text" placeholder="Stall name" class="btn-group2">
                                        <button type="submit" class="btn-form"><span
                                                class="icon-magnifier search-icon"></span>SEARCH<i
                                                class="pe-7s-angle-right"></i></button>
                                    </div>
                                </form>
                                <div class="slider-link">
                                    <a href="#">Browse Popular</a><span>or</span> <a href="#">Recently Added</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= CATEGORIES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Browse Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 496 496;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="M505.321,92.526c-6.894-4.595-16.206-2.733-20.801,4.16l-47.52,71.278l-43.45-65.174l27.68-83.04
                                            c2.619-7.859-1.628-16.354-9.487-18.974c-7.858-2.621-16.354,1.628-18.974,9.487l-26.581,79.742h-58.377l23.419-70.256
                                            c2.619-7.859-1.628-16.354-9.487-18.974c-7.858-2.621-16.354,1.628-18.974,9.487L276.19,90.004H135.003
                                            c-5.016,0-9.699,2.507-12.48,6.679l-47.52,71.278l-47.52-71.278c-4.595-6.893-13.908-8.755-20.801-4.16
                                            c-6.894,4.595-8.756,13.908-4.16,20.801l58.346,87.52l54.602,274.985c4.192,20.961,22.75,36.175,44.126,36.175h192.811
                                            c21.376,0,39.934-15.214,44.13-36.195l54.597-274.961l58.346-87.52C514.076,106.433,512.214,97.121,505.321,92.526z
                                            M143.031,120.005c13.319,0,217.998,0,225.943,0l40,60H103.031L143.031,120.005z M367.115,469.945
                                            c-1.397,6.987-7.583,12.058-14.708,12.058h-192.81c-7.125,0-13.311-5.071-14.704-12.038l-51.618-259.96H418.73L367.115,469.945z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M255.002,272.004c-41.355,0-74.999,33.645-74.999,74.999s33.645,74.999,74.999,74.999s74.999-33.645,74.999-74.999
                                            S296.357,272.004,255.002,272.004z M255.002,392.003c-24.813,0-45-20.187-45-45s20.187-45,45-45s45,20.187,45,45
                                            S279.815,392.003,255.002,392.003z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Chinese Food</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 469.824 469.824;"
                                xml:space="preserve" width="512px" height="512px">
                                <path
                                    d="m497 271h-16c0-66.167969-53.832031-120-120-120-27.675781 0-53.84375 9.273438-75.058594 26.355469-20.546875-16.480469-46.613281-26.355469-74.941406-26.355469-10.355469 0-20.40625 1.320312-30 3.796875v-64.796875h255c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-255v-30h255c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-421c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h16v30h-16c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h16v181h-16c-8.285156 0-15 6.714844-15 15v60c0 69.992188 53.824219 127.714844 121 135.171875v15.828125c0 8.285156 6.714844 15 15 15h240c8.285156 0 15-6.714844 15-15v-15.828125c67.097656-7.449219 121-65.109375 121-135.171875v-60c0-8.285156-6.714844-15-15-15zm-46 0h-30c0-33.085938-26.914062-60-60-60-14.875 0-28.492188 5.453125-38.988281 14.449219-3.90625-9.476563-8.984375-18.351563-15.0625-26.433594 15.496093-11.695313 34.261719-18.015625 54.050781-18.015625 49.625 0 90 40.375 90 90zm-120 0c0-16.542969 13.457031-30 30-30s30 13.457031 30 30zm-30 0h-30c0-33.085938-26.914062-60-60-60s-60 26.914062-60 60h-30c0-49.625 40.375-90 90-90s90 40.375 90 90zm-120 0c0-16.542969 13.457031-30 30-30s30 13.457031 30 30zm-30-103.890625c-11.289062 6.546875-21.417969 14.882813-30 24.613281v-161.722656h30zm-90-137.109375h30v241h-30zm421 271v30h-452v-30zm-106 151c-8.285156 0-15 6.714844-15 15v15h-210v-15c0-8.285156-6.714844-15-15-15-53.355469 0-97.625-39.640625-104.933594-91.011719h449.867188c-7.308594 51.371094-51.578125 91.011719-104.933594 91.011719zm0 0"
                                    data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                    fill="#ff3a6d" />
                            </svg>
                            <h6>Muslim Food</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 503.607 503.607;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="M166.547,289.497c-10.488-10.488-24.432-16.264-39.264-16.264c-14.833,0-28.777,5.776-39.265,16.264
                                            c-21.651,21.65-21.651,56.878,0,78.528c10.488,10.488,24.432,16.264,39.265,16.264c14.832,0,28.776-5.776,39.264-16.264
                                            C188.197,346.375,188.197,311.147,166.547,289.497z M155.836,357.315c-7.627,7.627-17.767,11.828-28.553,11.828
                                            c-10.787,0-20.927-4.2-28.554-11.828c-15.745-15.745-15.745-41.363,0-57.108c7.627-7.627,17.767-11.828,28.554-11.828
                                            c10.786,0,20.926,4.2,28.553,11.828c7.628,7.627,11.828,17.767,11.828,28.554C167.664,339.547,163.464,349.688,155.836,357.315z"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="147.66" cy="318.61" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="121.74" cy="347.91" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="110.97" cy="313.39" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <path d="M489.978,359.959c20.384-45.871,26.787-96.266,18.5-146.119c-8.78-52.826-33.503-100.83-71.494-138.821
                                            c-37.949-37.948-85.895-62.66-138.654-71.466c-49.9-8.329-100.362-1.938-146.289,18.47L135.565,5.546
                                            c-4.206-4.203-10.673-5.382-16.093-2.931c-20.139,9.102-38.161,21.712-53.566,37.48C51.469,54.87,39.829,71.93,31.306,90.802
                                            c-2.438,5.399-1.251,11.85,2.95,16.053l8.083,8.083C10.813,162.598-3.89,220.02,0.882,277.375
                                            C5.89,337.562,32.201,394.263,74.97,437.032c16.865,16.864,35.882,31.244,56.523,42.741c5.152,2.87,10.473,5.594,15.815,8.098
                                            c3.998,1.874,8.099,3.666,12.188,5.328c30.593,12.43,63.534,18.799,96.602,18.799c9.174,0,18.362-0.491,27.507-1.478
                                            c40.529-4.375,79.615-18.474,113.459-40.857l8.206,8.206c2.756,2.756,6.42,4.218,10.155,4.218c1.839,0,3.697-0.355,5.471-1.083
                                            c19.48-7.995,36.972-19.491,51.989-34.167c15.941-15.576,28.33-33.961,36.824-54.643c2.212-5.383,0.982-11.52-3.131-15.633
                                            L489.978,359.959z M295.837,18.492c49.629,8.283,94.732,31.534,130.435,67.237c35.745,35.744,59.004,80.903,67.263,130.594
                                            c7.475,44.971,2.245,90.404-15.092,132.102l-40.388-40.388c14.684-51.518,7.009-106.702-21.322-152.114
                                            c-2.214-3.549-6.888-4.631-10.434-2.417c-3.549,2.214-4.631,6.886-2.417,10.434c24.549,39.35,32.227,86.683,21.743,131.666
                                            L216.384,86.365c58.489-13.647,119.899,3.626,162.763,46.489c1.567,1.567,3.123,3.183,4.627,4.803
                                            c1.492,1.608,3.519,2.422,5.553,2.422c1.843,0,3.692-0.669,5.15-2.022c3.066-2.845,3.245-7.637,0.399-10.703
                                            c-1.63-1.757-3.318-3.51-5.017-5.21c-48.79-48.789-119.679-67.049-185.877-48.182l-40.405-40.405
                                            C205.327,16.2,250.818,10.979,295.837,18.492z M281.98,495.461c-39.628,4.28-80.013-1.356-116.782-16.295
                                            c-3.847-1.563-7.703-3.248-11.463-5.01c-5.024-2.354-10.028-4.917-14.873-7.615c-19.416-10.815-37.309-24.346-53.182-40.219
                                            c-40.239-40.238-64.994-93.582-69.705-150.203c-4.404-52.935,8.82-105.92,37.31-150.234l37.518,37.518
                                            c-17.965,32.057-26.297,69.406-23.669,106.261c-32.356,32.925-32.195,86.025,0.511,118.732
                                            c15.929,15.929,37.108,24.702,59.635,24.702c6.687,0,13.25-0.791,19.597-2.295c14.786,10.449,30.917,18.666,48.059,24.487
                                            c2.03,10.503,7.104,20.529,15.221,28.646c10.826,10.825,25.046,16.238,39.264,16.238c14.22,0,28.44-5.413,39.265-16.238
                                            c7.032-7.032,11.764-15.499,14.229-24.465c16.001-4.077,31.324-10.206,45.685-18.271l37.519,37.519
                                            C354.891,478.793,319.079,491.456,281.98,495.461z M81.779,276.659c12.608-11.042,28.587-17.088,45.503-17.088
                                            c18.481,0,35.856,7.197,48.924,20.265c26.977,26.977,26.977,70.872,0,97.849c-7.942,7.942-17.481,13.701-27.888,17.008
                                            c-0.038-0.021-4.467,1.357-4.543,1.281c-5.336,1.299-10.862,1.976-16.494,1.976c-18.481,0-35.856-7.197-48.923-20.265
                                            c-26.857-26.857-26.967-70.473-0.351-97.48C78.028,280.033,81.653,276.885,81.779,276.659z M220.871,396.117
                                            c7.872-7.872,18.213-11.808,28.554-11.808c10.34,0,20.681,3.936,28.553,11.808c9.294,9.294,13.097,22.028,11.419,34.141
                                            c-0.455,1.043-0.678,2.193-0.62,3.376c-1.624,7.184-5.217,14.009-10.799,19.591c-15.744,15.744-41.363,15.745-57.107,0
                                            C205.126,437.48,205.126,411.861,220.871,396.117z M462.3,436.004c-13.497,13.19-29.202,23.548-46.681,30.792l-174.8-174.8
                                            c-2.959-2.959-7.754-2.957-10.711,0c-2.957,2.957-2.957,7.753,0,10.71l107.333,107.333c-10.372,5.493-21.262,9.912-32.549,13.201
                                            c-0.351-13.739-5.742-27.371-16.204-37.833c-21.65-21.65-56.878-21.651-78.53,0c-9.369,9.369-14.675,21.282-15.935,33.536
                                            c-10.317-3.901-20.209-8.763-29.584-14.548c8.141-4.03,15.667-9.388,22.278-15.999c32.882-32.883,32.882-86.387,0-119.27
                                            c-15.93-15.929-37.109-24.702-59.636-24.702c-16.371,0-32.018,4.654-45.467,13.299c-0.242-28.902,6.723-57.716,20.153-83.158
                                            l102.466,102.467c2.958,2.957,7.753,2.957,10.711,0c2.957-2.957,2.957-7.753,0-10.71L106.123,157.3
                                            c-0.292-0.352-0.619-0.679-0.979-0.979l-59.8-59.8c7.77-17.049,18.331-32.47,31.395-45.841
                                            c13.961-14.287,30.273-25.74,48.493-34.045l349.207,349.207c0.581,0.916,1.364,1.714,2.323,2.323l18.744,18.744
                                            C487.806,405.48,476.637,421.996,462.3,436.004z" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="232.92" cy="167" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="193.9" cy="164.13" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="215.59" cy="219.67" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="251.1" cy="204.53" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="258.67" cy="263.6" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="304.95" cy="264.1" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="297.38" cy="308.54" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="344.84" cy="271.68" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                                <g>
                                    <g>
                                        <circle cx="301.08" cy="219.67" r="7.573" data-original="#000000"
                                            class="active-path" data-old_color="#ff3a6d" fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Indian Food</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_3" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <path
                                        d="m482 271h15c8.285156 0 15-6.714844 15-15 0-140.960938-115.050781-256-256-256-140.960938 0-256 115.050781-256 256 0 3.976562 1.582031 7.792969 4.394531 10.605469 2.8125 2.816406 6.628907 4.394531 10.605469 4.394531h15v90h-15c-8.285156 0-15 6.714844-15 15 0 74.640625 61.378906 136 136 136h240c74.640625 0 136-61.378906 136-136 0-8.285156-6.714844-15-15-15h-15c0-10.933594 0-79.03125 0-90zm-30 91.003906c-30.273438 4.0625-57.886719 20.238282-75.960938 44.324219-20.804687-28.066406-53.996093-45.328125-90.039062-45.328125h-123.472656c15.367187-18.832031 38.402344-30 63.472656-30h226zm-392-29.636718c19.351562 3.535156 36.929688 13.773437 49.328125 28.632812h-49.328125zm196-302.367188c119.574219 0 217.757812 93.363281 225.507812 211.011719l-451.015624-.011719c7.75-117.648438 105.933593-211 225.507812-211zm196 241v30h-226c-20.828125 0-41.207031 5.789062-58.925781 16.738281-12.148438 7.511719-22.6875 17.222657-31.113281 28.589844-18.074219-24.085937-45.6875-40.261719-75.960938-44.324219v-31.015625zm-76 211h-240c-53.359375 0-97.632812-39.628906-104.941406-91h254.941406c31.15625 0 59.183594 17.234375 73.234375 45.015625l2.996094 6.929687c2.371093 5.496094 7.785156 9.054688 13.769531 9.054688s11.398438-3.558594 13.769531-9.054688l2.996094-6.929687c13.851563-27.359375 42.945313-45.027344 74.234375-45.027344h13.941406c-7.308594 51.371094-51.582031 91.011719-104.941406 91.011719zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m256 121c-8.285156 0-15 6.714844-15 15v30c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-30c0-8.285156-6.714844-15-15-15zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m155.394531 95.394531-30 30c-5.859375 5.855469-5.859375 15.351563 0 21.210938 5.855469 5.859375 15.355469 5.859375 21.210938 0l30-30c5.859375-5.859375 5.859375-15.355469 0-21.210938-5.855469-5.859375-15.355469-5.859375-21.210938 0zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m356.605469 95.394531c-5.855469-5.859375-15.355469-5.859375-21.210938 0-5.859375 5.855469-5.859375 15.351563 0 21.210938l30 30c5.855469 5.859375 15.351563 5.859375 21.210938 0s5.859375-15.355469 0-21.210938zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                </g>
                            </svg>
                            <h6>Western Food</h6>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_2" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 60 60;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="m0 436c0 8.285156 6.714844 15 15 15h105v46c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-46h105c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-47.578125c1.664063-4.695312 2.578125-9.742188 2.578125-15 0-5.851562-1.121094-11.445312-3.164062-16.578125 19.089843-5.210937 33.164062-22.703125 33.164062-43.421875 0-5.851562-1.121094-11.445312-3.164062-16.578125 19.089843-5.210937 33.164062-22.703125 33.164062-43.421875 0-11.515625-4.355469-22.03125-11.496094-30 7.144532-7.96875 11.496094-18.484375 11.496094-30s-4.355469-22.03125-11.496094-30c7.144532-7.96875 11.496094-18.484375 11.496094-30 0-24.8125-20.1875-45-45-45h-47.578125c1.664063-4.695312 2.578125-9.742188 2.578125-15 0-19.554688-12.539062-36.226562-30-42.421875v-48.578125c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v48.578125c-17.460938 6.195313-30 22.867187-30 42.421875 0 5.257812.914062 10.304688 2.578125 15h-47.578125c-24.8125 0-45 20.1875-45 45 0 11.515625 4.355469 22.03125 11.496094 30-7.140625 7.96875-11.496094 18.484375-11.496094 30s4.355469 22.03125 11.496094 30c-7.140625 7.96875-11.496094 18.484375-11.496094 30 0 20.722656 14.085938 38.210938 33.179688 43.414062-2.042969 5.136719-3.179688 10.730469-3.179688 16.585938 0 20.71875 14.074219 38.210938 33.164062 43.421875-2.042968 5.132813-3.164062 10.726563-3.164062 16.578125 0 5.257812.914062 10.304688 2.578125 15h-47.578125c-8.285156 0-15 6.714844-15 15zm120-330c0-8.269531 6.730469-15 15-15s15 6.730469 15 15-6.730469 15-15 15-15-6.730469-15-15zm-30 300c0-8.269531 6.730469-15 15-15 8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h60c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-90c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-90c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h180c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15h-60c-8.269531 0-15-6.730469-15-15zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                        <path
                                            d="m385.605469 4.394531c-5.855469-5.859375-15.355469-5.859375-21.210938 0-21.859375 21.855469-34.394531 52.484375-34.394531 84.03125v242.574219h-15c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h15v106c0 24.8125 20.1875 45 45 45s45-20.1875 45-45v-106h15c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-15v-242.574219c0-31.546875-12.535156-62.175781-34.394531-84.03125zm-10.605469 34.175781c9.652344 14.488282 15 31.957032 15 49.855469v242.574219h-30v-242.574219c0-17.898437 5.347656-35.363281 15-49.855469zm0 443.429688c-8.269531 0-15-6.730469-15-15v-106h30v106c0 8.269531-6.730469 15-15 15zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Fusion Food</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_3" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 511.988 511.988;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <path
                                        d="m444.066406 68.125c-15.136718-39.796875-53.382812-68.125-98.066406-68.125h-240c-57.9375 0-106 47.851562-106 106v240c0 44.683594 28.328125 82.929688 68.125 98.0625 15.652344 40.371094 54.820312 67.9375 97.875 67.9375h240c57.9375 0 106-47.851562 106-106v-240c0-43.054688-27.566406-82.21875-67.933594-97.875zm-414.066406 277.875v-240c0-41.195312 34.804688-76 76-76h240c41.855469 0 75 34.652344 75 76v240c0 41.355469-33.644531 75-75 75h-240c-41.480469 0-76-33.265625-76-75zm452 60c0 41.195312-34.804688 76-76 76h-240c-23.914062 0-46.160156-12.007812-60.140625-31.003906.046875 0 240.140625.003906 240.140625.003906 57.898438 0 105-47.101562 105-105 0 0-.003906-240.09375-.003906-240.140625 18.996094 13.980469 31.003906 36.226563 31.003906 60.140625zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m76 151h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-30c-24.8125 0-45 20.1875-45 45v30c0 8.285156 6.714844 15 15 15zm15-45c0-8.269531 6.730469-15 15-15h15v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m196 151h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m316 151h60c8.285156 0 15-6.714844 15-15v-30c0-24.8125-20.1875-45-45-45h-30c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h15c8.269531 0 15 6.730469 15 15v15h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m316 391h30c24.8125 0 45-20.1875 45-45v-30c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v15c0 8.269531-6.730469 15-15 15h-15zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m316 271h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m196 391h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m196 271h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m76 271h60c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15zm15-60h30v30h-30zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                    <path
                                        d="m106 391h30c8.285156 0 15-6.714844 15-15v-60c0-8.285156-6.714844-15-15-15h-60c-8.285156 0-15 6.714844-15 15v30c0 24.8125 20.1875 45 45 45zm-15-60h30v30h-15c-8.269531 0-15-6.730469-15-15zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                                </g>
                            </svg>
                            <h6>Snacks</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_4" x="0px" y="0px"
                                viewBox="0 0 512 512" style="enable-background:new 0 0 33 33;" xml:space="preserve"
                                width="512px" height="512px">
                                <g>
                                    <path
                                        d="m419.433594 270h15.566406c8.285156 0 15-6.714844 15-15v-30c0-19.839844-12.910156-36.707031-30.765625-42.679688-5-41.339843-34.113281-75.359374-72.820313-87.519531l69.195313-69.195312c5.855469-5.855469 5.855469-15.355469 0-21.210938-5.859375-5.859375-15.355469-5.859375-21.214844 0l-69.191406 69.191407c-13.382813-42.601563-53.242187-73.585938-100.203125-73.585938-53.128906 0-97.164062 39.667969-104.054688 90.945312-47.132812 6.332032-84.453124 44.054688-90.175781 91.375-17.859375 5.972657-30.769531 22.839844-30.769531 42.679688v30c0 8.285156 6.714844 15 15 15h15.566406c6.269532 83.464844 64.203125 150.484375 136.964844 173.253906l-43.136719 43.140625c-4.289062 4.289063-5.574219 10.742188-3.253906 16.347657 2.324219 5.605468 7.792969 9.257812 13.859375 9.257812h180c6.066406 0 11.535156-3.652344 13.859375-9.257812 2.320313-5.605469 1.035156-12.058594-3.253906-16.347657l-43.140625-43.140625c72.738281-22.761718 130.699218-89.761718 136.96875-173.253906zm.566406-30h-60v-15c0-8.269531 6.730469-15 15-15h30c8.273438 0 15 6.730469 15 15zm-31.507812-60h-13.492188c-24.8125 0-45 20.1875-45 45v60c0 8.273438-6.726562 15-15 15-8.269531 0-15-6.726562-15-15v-60c0-24.8125-20.1875-45-45-45h-13.492188c6.96875-34.1875 37.269532-59.996094 73.484376-60h.003906.007812c36.21875.003906 66.519532 25.808594 73.488282 60zm-163.492188-150c36.664062 0 67.246094 26.449219 73.71875 61.265625-31.265625 4.886719-58 23.617187-73.71875 49.707031-15.71875-26.089844-42.453125-44.820312-73.714844-49.707031 6.472656-34.816406 37.054688-61.265625 73.714844-61.265625zm-90 90c36.222656 0 66.523438 25.808594 73.492188 60h-146.984376c6.972657-34.191406 37.273438-60 73.492188-60zm-105 105c0-8.269531 6.730469-15 15-15h210c8.273438 0 15 6.730469 15 15v15h-240zm248.789062 257h-107.574218l31.3125-31.3125c7.410156.863281 14.910156 1.3125 22.472656 1.3125 7.566406 0 15.066406-.449219 22.476562-1.3125zm-53.789062-60c-85.984375 0-156.804688-66.917969-164.328125-152h209.328125v15c0 24.8125 20.1875 45 45 45s45-20.1875 45-45v-15.007812h29.328125c-7.519531 85.082031-78.339844 152.007812-164.328125 152.007812zm0 0"
                                        data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                        fill="#ff3a6d" />
                            </svg>
                            <h6>Desserts</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 category-responsive">
                    <a href="#" class="category-wrap">
                        <div class="category-block">
                            <svg class="category-img" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_5" x="0px" y="0px"
                                viewBox="0 0 350 512" style="enable-background:new 0 0 61.168 61.168;"
                                xml:space="preserve" width="512px" height="512px">
                                <g>
                                    <g>
                                        <path
                                            d="m287.5625 171.664062c-4.863281-38.726562-26.105469-72.148437-56.425781-93.367187l2.3125-18.296875h54.550781c5.523438 0 10-4.476562 10-10v-40c0-5.523438-4.476562-10-10-10h-70.351562c-21.148438 0-39.097657 15.820312-41.746094 36.804688l-2.351563 18.609374c-6.390625-.929687-12.914062-1.414062-19.550781-1.414062-68.234375 0-125.183594 50.96875-133.5625 117.664062-11.441406 1.03125-20.4375 10.667969-20.4375 22.371094v31.359375c0 5.523438 4.476562 10 10 10h10.941406l35.425782 267.917969c.660156 4.972656 4.898437 8.6875 9.914062 8.6875h175.777344c5.015625 0 9.253906-3.714844 9.914062-8.6875l35.425782-267.917969h10.601562c5.523438 0 10-4.476562 10-10v-31.359375c0-11.707031-8.996094-21.34375-20.4375-22.371094zm-20.199219-.097656h-48.015625l8.882813-70.28125c20.585937 17.5 34.945312 42.167969 39.132812 70.28125zm-76.757812-91.582031c6.652343 2.242187 13.039062 5.078125 19.089843 8.449219l-10.503906 83.132812h-20.160156zm5.136719-40.675781c1.394531-11.007813 10.808593-19.308594 21.90625-19.308594h60.351562v20h-53.367188c-5.039062 0-9.289062 3.746094-9.921874 8.746094l-2.34375 18.550781c-6.164063-2.96875-12.582032-5.484375-19.214844-7.496094zm-41.742188 34.691406c5.785156 0 11.476562.433594 17.039062 1.265625l-12.167968 96.300781h-17.203125c-5.523438 0-10 4.480469-10 10 0 5.523438 4.476562 10 10 10h136.742187.011719.015625 7.097656c1.359375 0 2.464844 1.109375 2.464844 2.46875v21.359375h-268v-21.359375c0-1.359375 1.105469-2.46875 2.464844-2.46875h39.203125c5.523437 0 10-4.476562 10-10 0-5.519531-4.476563-10-10-10h-21.03125c8.265625-55.496094 56.152343-97.566406 113.363281-97.566406zm28.757812 227.574219c-6.738281-3-13.019531-7.046875-18.628906-12.082031l6.835938-54.097657h20.15625zm-21.535156 10.917969c5.9375 3.960937 12.292969 7.171874 18.941406 9.621093l-14.8125 117.21875-19.84375-2.507812zm-10.417968-77.097657-4.929688 39.003907c-14.613281-9.394532-31.613281-14.453126-49.402344-14.453126-18.085937 0-35.363281 5.21875-50.136718 14.917969l-5.21875-39.46875zm82.488281 256.605469h-158.246094l-25.699219-194.34375c13.054688-11.445312 29.601563-17.714844 47.125-17.714844 17.253906 0 33.566406 6.082032 46.527344 17.203125l-18.589844 147.09375c-.691406 5.480469 3.1875 10.480469 8.667969 11.175781l39.683594 5.015626c.417969.050781.839843.078124 1.253906.078124 2.210937 0 4.367187-.730468 6.128906-2.097656 2.097657-1.625 3.460938-4.019531 3.792969-6.648437l15.777344-124.835938c4 .527344 8.058594.820313 12.164062.820313 15.898438 0 31.167969-4.046875 44.667969-11.613282zm26.839843-202.960938c-13.222656 12.085938-30.226562 18.707032-48.253906 18.707032-3.257812 0-6.480468-.234375-9.65625-.660156l9.058594-71.691407h55.945312zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                        <path
                                            d="m101.671875 191.570312c2.628906 0 5.207031-1.070312 7.066406-2.929687 1.863281-1.859375 2.933594-4.441406 2.933594-7.070313 0-2.628906-1.070313-5.210937-2.933594-7.070312-1.859375-1.871094-4.4375-2.929688-7.066406-2.929688-2.640625 0-5.210937 1.058594-7.082031 2.929688-1.859375 1.859375-2.917969 4.441406-2.917969 7.070312 0 2.628907 1.058594 5.210938 2.917969 7.070313 1.871094 1.859375 4.441406 2.929687 7.082031 2.929687zm0 0"
                                            data-original="#000000" class="active-path" data-old_color="#ff3a6d"
                                            fill="#ff3a6d" />
                                    </g>
                                </g>
                            </svg>
                            <h6>Drinks</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--//END CATEGORIES -->
    <!--============================= FEATURED PLACES =============================-->
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Featured Picks</h3>
                    </div>
                </div>
            </div>
            <div class="row">

                {{! 1st slideshow}}

                {{! 1 1}}
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap mySlides1">
                        <a href="detail.html">
                            <img src="img/nigel/featured1.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-orange">6.5</span>
                            <div class="featured-title-box">
                                <h6>Burger & Lobster</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>

                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 1 2 }}
                    <div class="featured-place-wrap mySlides1">
                        <a href="detail.html">
                            <img src="img/nigel/featured3.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating">3.2</span>
                            <div class="featured-title-box">
                                <h6>Tasty Hand-Pulled Noodles 1 2</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="open-now">OPEN NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 1 3 }}
                    <div class="featured-place-wrap mySlides1">
                        <a href="detail.html">
                            <img src="img/nigel/featured2.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-green">9.5</span>
                            <div class="featured-title-box">
                                <h6>Joe’s Shanghai 1 1</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div style="text-align:center">
                        <span class="dot1"></span>
                        <span class="dot1"></span>
                        <span class="dot1"></span>
                    </div>

                </div>

                {{! end of 1st slideshow}}

                {{! 2nd slideshow}}

                {{! 2 1 }}
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap mySlides2">
                        <a href="detail.html">
                            <img src="img/nigel/featured2.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-green">9.5</span>
                            <div class="featured-title-box">
                                <h6>Joe’s Shanghai 2 1</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 2 2 }}
                    <div class="featured-place-wrap mySlides2">
                        <a href="detail.html">
                            <img src="img/nigel/featured1.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-orange">6.5</span>
                            <div class="featured-title-box">
                                <h6>Burger & Lobster 2 2</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 2 3 }}
                    <div class="featured-place-wrap mySlides2">
                        <a href="detail.html">
                            <img src="img/nigel/featured3.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating">3.2</span>
                            <div class="featured-title-box">
                                <h6>Tasty Hand-Pulled Noodles 2 3</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="open-now">OPEN NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div style="text-align:center">
                        <span class="dot2"></span>
                        <span class="dot2"></span>
                        <span class="dot2"></span>
                    </div>
                </div>

                {{! end of 2nd slide show}}

                {{! 3rd slide show}}

                {{! 3 1 }}
                <div class="col-md-4 featured-responsive">
                    <div class="featured-place-wrap mySlides3">
                        <a href="detail.html">
                            <img src="img/nigel/featured3.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating">3.2</span>
                            <div class="featured-title-box">
                                <h6>Tasty Hand-Pulled Noodles 3 1</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="open-now">OPEN NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 3 2 }}
                    <div class="featured-place-wrap mySlides3">
                        <a href="detail.html">
                            <img src="img/nigel/featured2.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-green">9.5</span>
                            <div class="featured-title-box">
                                <h6>Joe’s Shanghai 3 2</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    {{! 3 3}}
                    <div class="featured-place-wrap mySlides3">
                        <a href="detail.html">
                            <img src="img/nigel/featured1.jpg" class="img-fluid" alt="#">
                            <span class="featured-rating-orange">6.5</span>
                            <div class="featured-title-box">
                                <h6>Burger & Lobster 3 3</h6>
                                <p>Restaurant </p> <span>• </span>
                                <p>3 Reviews</p> <span> • </span>
                                <p><span>$$$</span>$$</p>
                                <ul>
                                    <li><span class="icon-location-pin"></span>
                                        <p>1301 Avenue, Brooklyn, NY 11230</p>
                                    </li>
                                    <li><span class="icon-screen-smartphone"></span>
                                        <p>+44 20 7336 8898</p>
                                    </li>
                                    <li><span class="icon-link"></span>
                                        <p>https://burgerandlobster.com</p>
                                    </li>
                                </ul>
                                <div class="bottom-icons">
                                    <div class="closed-now">CLOSED NOW</div>
                                    <span class="ti-heart"></span>
                                    <span class="ti-bookmark"></span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div style="text-align:center">
                        <span class="dot3"></span>
                        <span class="dot3"></span>
                        <span class="dot3"></span>
                    </div>

                    {{! end of 3rd slideshow}}

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
        <style>
            /* The dots/bullets/indicators */

            .dot1 {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .dot2 {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .dot3 {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }

            .active {
                background-color: #717171;
            }

            /* Fading animation */
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }

            @keyframes fade {
                from {
                    opacity: .4
                }

                to {
                    opacity: 1
                }
            }
        </style>
    </section>
    <!--//END FEATURED PLACES -->
    <!--============================= FOOTER =============================-->
    <footer class="main-block dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy; 2018 Listing. All rights reserved | This template is made with <i
                                class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <ul>
                            <li><a href="#"><span class="ti-facebook"></span></a></li>
                            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                            <li><a href="#"><span class="ti-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//END FOOTER -->




    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/nigel/jquery-3.2.1.min.js"></script>
    <script src="js/nigel/popper.min.js"></script>
    <script src="js/nigel/bootstrap.min.js"></script>
    <script src="js/nigel/homepageJS.js"></script>
    <script src="js/nigel/DB.js"></script>
    <script src="js/nigel/DBConfig.js"></script>

    <script>

        var slideIndex3 = 0;
        showSlides3();

        function showSlides3() {
            var i;
            var slides = document.getElementsByClassName("mySlides3");
            var dots = document.getElementsByClassName("dot3");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex3++;
            if (slideIndex3 > slides.length) { slideIndex3 = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex3 - 1].style.display = "block";
            dots[slideIndex3 - 1].className += " active";
            setTimeout(showSlides3, 2000); // Change image every 2 seconds
        }

        var slideIndex2 = 0;
        showSlides2();

        function showSlides2() {
            var i;
            var slides = document.getElementsByClassName("mySlides2");
            var dots = document.getElementsByClassName("dot2");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex2++;
            if (slideIndex2 > slides.length) { slideIndex2 = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex2 - 1].style.display = "block";
            dots[slideIndex2 - 1].className += " active";
            setTimeout(showSlides2, 2000); // Change image every 2 seconds
        }

        var slideIndex1 = 0;
        showSlides1();

        function showSlides1() {
            var i;
            var slides = document.getElementsByClassName("mySlides1");
            var dots = document.getElementsByClassName("dot1");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex1++;
            if (slideIndex1 > slides.length) { slideIndex1 = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex1 - 1].style.display = "block";
            dots[slideIndex1 - 1].className += " active";
            setTimeout(showSlides1, 2000); // Change image every 2 seconds
        }

    </script>

</body>

</html>