<div class="container">
    {{#if outlets}}
    <div>
    <h3>Stall onwer List</h3>
    {{#each outlets}}
        <div class="outlet">
            <h2>Name: 
                {{name}} </h2>
            <p>Description: 
                {{desc}} </p>

                <p class="font-italic">
						{{!-- <a href="" class="card-link">
                            <button type="button">
                                <i class="fas fa-pencil-alt"></i>
							    Edit
                            </button>
						</a> --}}
						<a href="/outlet/delete/{{name}}" class="card-link">
                            <button type="button" formmethod="get">
                                <i class="far fa-trash-alt"></i>
                                     Delete
                            </button>
						</a>
                </p>
        </div>
        
    {{/each}}
    </div>
    
</div>
    {{else}}
        <h3>No stall owners info added ! Please Add more info</h3>
    {{/if}}

<br>
<br>
<div>
    <a href="/admin">
        <button type="button"> Back </button>
    </a> 
</div>


<style>
    .outlet {
        border-style: solid ;
        border-width: 3px;
        padding: 40px;
    }

    button {
        background-color: black; 
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5%;
    }

    a{
        text-decoration: none;
    }

</style>