
<u>Added</u>
<br>
<div class="container">
    {{#if outlets}}
    <div>
    <h3>Stall onwer info lab</h3>
    {{#each outlets}}
        <div class="outlet">
            <h2>Name: {{name}}</h2>
            <p>Description: {{desc}}</p>        
           
            
        </div>
    {{/each}}
    </div>
    
</div>
    {{else}}
        <h3>No stall owners info added !</h3>
    {{/if}}
