<!DOCTYPE html>
<html lang="en">

{{>_header}}

<body>
    {{>_navbar}}
    <br><br><br><br><br><br><br><br>
    <center>
        <h2>Thank you for taking your time to rate!</h2>
        <br>
        <h2>Hope you had a pleasant meal!</h2>
        <div class="wrapper">
            <button class="button btn btn-outline-primary" onclick="location.href = '/';">Return Home</button>
        </div>
    </center>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {{>_footer}}


    </script>
</body>

</html>