<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{{>_header}}
{{>_navbar}}
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/css/usercss/util.css">
	<link rel="stylesheet" type="text/css" href="/css/usercss/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form method="post" action="../user/loginadmin" class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Admin Login
					</span>
					
					<a href="/loginuser" id="buttons">Student/Staff</a>
					<a href="/loginseller" id="buttonss">Seller</a>
					<a href="/loginadmin" id="buttonsa">Admin</a> 
					<style>
						#buttonsa {
							background: silver;
						}
						
					</style>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid admin number is required: ">
<<<<<<< HEAD
							<input class="input100" type="text" name="admin_no" id="Admin_ID" placeholder="Admin ID" required value={{admin_ID}}>
=======
							<input class="input100" type="text" name="admin_no" id="Admin_no" placeholder="Admin Id" required value={{admin_no}}>
>>>>>>> 86dd29cc57df2761b80e6fe254f1594e0c0a79f5
							<span class="focus-input100-1"></span>
							<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password" required value={{password}}>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" formmethod="POST">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	


</body>
