<!-- TO DO 7/6/2019 -->
<!-- Use only 1 Add to Cart button -->
<!-- Create feature to view other canteen -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/menu/menu.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    </head>

<body>
    <div class="wrapper">
        <!-- title of menu -->
        <h1>Food items @ NYP KouFu</h1>
        <!-- marking area for cart icon? -->
        
        <!-- <a href="#" class="notification"> -->
        <span id="itemCount"></span>
        <span id="tag"><a href="#"><i class="cart"></i></a>  <!-- remove previously span id=tag --></span>
        <!-- </a> -->

            <select class="choosePlace" onchange="location = this.value;">
                <option value="#">South</option>
                <option value="#">North</a></option>
                <option value="#">Foodgle</option>
                <option value="#">Food Connect</option>
            </select>

        <!-- what is this clear for ? -->
        <div class="clear"></div>

        <!-- for all items -->
            <div class="items">

            <!-- adding num icon for cart 
            <div id="cartItems"></div> -->

            <!-- ITEM 1 -->
                <div class="item">
                    <img src="/img/coffeemod1.jpg"/> <!-- image resize to 173 hori 116 vert px in paint ms -->
                    <h2>Coffee</h2>
                    <p>Price: $<span class="price">1.00</span></p>

                    <!-- Testing disbaling of ATC btn -->
                    <!-- <p>Quantity: <input type="text" value=0 size="2" id="KFitem1" onkeyup="disableATC(this)"></p> -->
                    <p>Quantity: <input type="text" value=0 size="2" id="KFitem1"></p>
                        <div class="quantity-operator">
                            <button type="button" id="KFitem1_add">+</button>
                            <button type="button" id="KFitem1_minus">-</button>
                        </div>
                        <br>
                        <br>

                        
                        <button id="btnd" class="tocart" type="button">Add to cart</button>
                        
                        <!--
                        <input type="Submit" id="btnd" class="tocart" disabled="disabled"/>
                        -->
                    
                        <!-- testing of disabling of ATC btn -->
                        <!-- <input type="submit" id="btnd" disabled class="tocart" type="submit"> -->
                </div> <!-- / end item div line 14 -->

            <!-- ITEM 2 -->
                <div class="item">
                    <img src="/img/pastamod1.jpg"/> 
                    <h2>Pasta</h2>
                    <p>Price: $<span class="price">4.50</span></p>
                    <p>Quantity: <input type="text" value=0 size="2" id="KFitem2"></p>
                        <div class="quantity-operator">
                            <button type="button" id="KFitem2_add">+</button>
                            <button type="button"id="KFitem2_minus">-</button>
                        </div>
                        <br>
                        <br>
                        <button class="tocart" type="button">Add to cart</button>
                </div>

            <!-- ITEM 3 -->
                <div class="item">
                    <img src="/img/chickenricemod1.jpg"/>
                    <h2>Chicken Rice</h2>
                    <p>Price: $<span class="price">3.00</span></p>
                    <p>Quantity: <input type="text" value="0" size="2" id="KFitem3"></p>
                        <div class="quantity-operator">
                            <button  type="button" id="KFitem3_add">+</button>
                            <button  type="button" id="KFitem3_minus">-</button>
                        </div>
                        <br>
                        <br>
                        <button class="tocart" type="button">Add to cart</button>
                </div>
                
            <!-- ITEM 4 -->
                <div class="item">
                    <img src="/img/icemilomod1.png"/>
                    <h2>Ice Milo</h2>
                    <p>Price: <em>$1.00</em></p>                    
                    <p>Quantity: <input type="text" value="0" size="2" id="KFitem4"></p>
                        <div class="quantity-operator">
                            <button  type="button" id="KFitem4_add">+</button>
                            <button  type="button" id="KFitem4_minus">-</button>
                        </div>
                        <br>
                        <br>
                        <button class="tocart" type="button">Add to cart</button>
                </div>

            <!-- ITEM 5 -->
                <div class="item">
                    <img src="/img/currychickenmod1.jpg">
                    <h2>Curry Chicken Noodle</h2>
                    <p>Price: <em>$4.00</em></p>                    
                    <p>Quantity: <input type="text" value="0" size="2" id="KFitem5"></p>
                        <div class="quantity-operator">
                            <button  type="button" id="KFitem5_add">+</button>
                            <button  type="button" id="KFitem5_minus">-</button>
                        </div>
                        <br>
                        <br>
                        <button class="tocart" type="button">Add to cart</button>
                </div>

            <!-- ITEM 6 -->
                <div class="item">
                    <img src="/img/icekacangmod1.jpg">
                    <h2>Ice Kacang</h2>
                    <p>Price: <em>$1.20</em></p>                    
                    <p>Quantity: <input type="text" value="0" size="2" id="KFitem6"></p>
                        <div class="quantity-operator">
                            <button  type="button" id="KFitem6_add">+</button>
                            <button  type="button" id="KFitem6_minus">-</button>
                        </div>
                        <br>
                        <br>
                        <button class="tocart" type="button">Add to cart</button>
                </div>

            <!-- adding this for showing and calulating total price from cart -->
                <div id="shoppingCart">
                    <div id="cartContainer">
                        <h2>Selected Items</h2>
                            <div id="cartItems"></div>
                            <span id="cartTotal"></span>
                            <br>
                            <button type="button" class="back">Back to selection</button>
                    </div>
                </div>
            

            </div> 
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="/js/designmenu.js"></script>



</body>
</html>

